<li>
    <img src="<% food.photo %>" alt="" />
    <div>
      <h3><% food.title %></h3>
      <p><% food.description %></p>
      <p><% food.price %></p>
      <button class="btn btn-outline-dark">Order now</button>
    </div>
  </li>