<%- include("includes/head") %>
  <body>
    <%- include("includes/header") %>
    <main class="error">
        <h1>Not allowed to access this page!</h1>
        <p>Unfourtunately, you are not authenticated!</p>
    </main>
  </body>
</html>
