<%- include("includes/head") %>
  <body>
    <%- include("includes/header") %>
    <main class="error">
        <h1>Page not found!</h1>
        <p>Unfourtunately, we could not find this page!</p>
    </main>
  </body>
</html>
