<%- include("includes/head") %>
    <link rel="stylesheet" href="/styles/about.css">
  <body>
    <%- include("includes/header") %>
    <main>
      <h1>About us</h1>
      <h3>
        Fast food is a food serving company, it was first opened in 2022 and it
        continues in serving customer their best dishes. Our first priority is serving 
        our beloved costumer delicious food, from best cooks in town with many years
        of experience in fast food kitchen.
      </h3>
      <div id="food-list">
        <h3>Our main foods are :</h3>
        <ol>
            <li>Hamburger</li>
            <li>Pizza</li>
            <li>Sandwich</li>
            <li>Hot dog</li>
            <li>French fries</li>
        </ol></div>
    <footer>
        <h3>
         Visit us for better approach of how our foods taste and meet our friendly staff.
        </h3>
    </footer>    
    </main>
  </body>
</html>
