<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
  </head>
  <body>
    <header>
      <h3>
        Fast food is a food serving company, it was first opened in 2022 and it
        continues in serving customer their best dishes
      </h3>
    </header>
    <main>
        <h3>Our main foods are :</h3>
        <ol>
            
            <li>Hamburger</li>
            <li>Pizza</li>
            <li>Sandwich</li>
            <li>Hot dog</li>
            <li>French fries</li>
        </ol>
    <footer>
        <h3>
         Visit us for better approach of how our foods taste and meet our friendly staff.
        </h3>
    </footer>    
    </main>
  </body>
</html>
