<%- include("includes/head") %>
    <link rel="stylesheet" href="styles/cart.css" />
  <body>
    <%- include("includes/header") %>
    <main>
      <h3 id="text">You have 2 foods in your cart.</h3>
      <ul id="order-control">
      </ul>
    </main>
  </body>
</html>
