<%- include("includes/head") %>
    <link rel="stylesheet" href="styles/cart.css" />
    <script src="/scripts/addToCart.js" async></script>
  <body>
    <%- include("includes/header") %>
    <main>
      <section class="container content-section">
        <h2 class="section-header">Your Cart</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">Food</span>
            <span class="cart-price cart-header cart-column">Price</span>
            <span class="cart-quantity cart-header cart-column">Quantity</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">Purchase</button>
    </section>
    </main>
  </body>
</html>
