<%- include("includes/head") %>
    <link rel="stylesheet" href="styles/menu.css" />
  <body>
    <%- include("includes/header") %>
    <main>
      <h1>Fast Food Menu</h1>
      <section id="hamburger-menu">
        <img src="/images/hamburger.jpeg" alt="" />
        <div>
          <h2>Hamburger</h2>
          <ol>
            <li>Cheese Burger.........10$</li>
            <li>Chicken Burger........10$</li>
            <li>Steak Burger.............10$</li>
            <li>Big Burger.................10$</li>
          </ol>
        </div>
      </section>

      <section id="hamburger-menu">
        <div>
          <h2>Pizza</h2>
          <ol>
            <li>Margarita........10$</li>
            <li>Capriciosa.......10$</li>
            <li>4 Seasons.......10$</li>
            <li>Tuna................10$</li>
          </ol>
        </div>
        <img src="/images/pizza.jpeg" alt="" />
      </section>

      <section id="hamburger-menu">
        <img src="/images/sandwich.jpeg" alt="" />
        <div>
          <h2>Sandwich</h2>
          <ol>
            <li>Regular Sandwich.....5$</li>
            <li>Cheese Sandwich.....5$</li>
            <li>Chilli Sandwich.........5$</li>
            <li>Tuna Sandwich.........5$</li>
          </ol>
        </div>
      </section>

      <section id="hamburger-menu">
        <div>
          <h2>Hot dog</h2>
          <ol>
            <li>Jumbo.............10$</li>
            <li>Bacondog........10$</li>
            <li>Cheesedog.......10$</li>
            <li>Chilli Dog.........10$</li>
          </ol>
        </div>
        <img src="/images/hotdog.jpeg" alt="" />
      </section>

      <section id="hamburger-menu">
        <img src="/images/fries.jpeg" alt="" />
        <div>
          <h2>French Fries</h2>
          <ol>
            <li>French Fries........10$</li>
            <li>Masala Fries........10$</li>
            <li>Peri Peri Fries......10$</li>
          </ol>
        </div>
      </section>
    </main>
  </body>
</html>
