body {
    background-color: #151515;
    color: #0f0e0e;
}

main {
    margin-top: 5rem;
    text-align: center;
}

.text {
    color: #f59739;
}

#carouselExampleControls {
    max-width: 30rem;
    width: 30rem;
    height: 25rem;
    margin: 4rem auto;
}

#carouselExampleControls img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

#food {
    margin: 5rem auto;
    width: 60rem;
    
}

#food img {
    height: 12rem;
    width: 40%rem;
    object-fit: cover;
}

#food button {
    background-color: #f59739;
    color: #0f0e0e;
}

#food button:hover {
    background-color: #f4b34a;
    
}

.card {
    height: 24rem;
}

#footer {
    background-color: #e18529;
    color: #0f0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 4rem auto;
    margin-bottom: 0;
}

#footer div{
   margin: 2rem 4rem; 
}

#footer-part-one {
    display: flex;
    flex-direction: column;
    
}

#footer a, #footer p{
    text-decoration: none;
    color: #0f0e0e;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}

.error {
    margin-top: 8rem;
    color: #e18529;
    font-size: 2.2rem;
}